<h1><%= @user.name %></h1>

<p>Email: <%= @user.email %></p>

<% if @user.avatar.present? %>
  <%= image_tag @user.avatar, alt: @user.name %>
<% end %>

<h2>Dogs</h2>
<ul>
  <% @user.dogs.each do |dog| %>
    <li><%= link_to dog.name, dog_path(dog) %></li>
  <% end %>
</ul>

<%= link_to "Edit User", edit_user_path(@user) %>
